form(action="/productos" method="POST" class="container")
    div.mb-3
        label.form-label(for="title") Nombre del producto
        input#title.form-control(type="text" name="title")
    div.mb-3
        label.form-label(for="price") Precio del producto
        input#price.form-control(type="text" name="price")
    div.mb-3
        label.form-label(for="thumbnail") URL del thumbnail del producto
        input#thumbnail.form-control(type="text" name="thumbnail")
    input.btn.btn-primary(type="submit" value="Agregar producto")
    a(class="text-decoration-none text-white", href="/productos") Ir al listado